#! /usr/local/plan9/bin/rc

args=($GLOBALSCRIPT/src/cmd/gsac/gslib $GLOBALSCRIPT/src/cmd/gsac/gsac.ags $*)
~ $#HSGLOBALSCRIPT 0 || exec $HSGLOBALSCRIPT/bin/ibio $args
exec $GLOBALSCRIPT/bin/ibio $args
